
    <div class="sidebar">
      <div class="sidebar-wrapper">

        <ul class="nav">

          <li class="{% if 'index' in segment %} active {% endif %} ">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>

          <li class="{% if 'St plo' in segment %} active {% endif %}">
            <a href="{% url 'stplo' %}">
              <i class="tim-icons icon-chart-bar-32"></i>
              <p>Student wise PLO analysis</p>
            </a>
          </li>

          <li class="{% if 'plotable' == segment %} active {% endif %}">
            <a href="{% url 'studentplotable_st' %}">
              <i class="tim-icons icon-molecule-40"></i>
              <p>Student Wise PLO Table</p>
            </a>
          </li>
          

          <li>
            <a href="{% url 'logoutpage' %}" >
              <i class="tim-icons icon-user-run"></i>
              <p>Logout</p>
            </a>
          </li>


                    
        </ul>
      </div>
    </div>

